
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="container get-studentid">
    <label for="studentID">Vui lòng nhập Mã số Sinh Viên:</label>
    <input type="text" name="studentID" id="studentID" placeholder="VD: 17DH111126">
    <button type="submit" class="btn-guest">Đăng nhập</button>
</div>